@import "../../assets/stylesheets/var";

.pop-up {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  z-index: 99;
  overflow-y: scroll;
}
