@import "../assets/stylesheets/var";

.analytics-container {
  padding: 3% 0;
  display: grid;
  grid-template-columns: 70%;
  justify-content: center;
  background-color: $background;
  gap: 10px;

  .grid-two {
    display: grid;
    grid-template-columns: 49.5% 49.5%;
    gap: 1%;
    justify-content: space-between;
  }

  .grid-three {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 1%;
    justify-content: space-between;
  }
}
